<!DOCTYPE html>
<html lang="zh" ng-app="wokaiqiao">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>我开窍 &mdash; 快来“窍”一下！</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <script>
      moment().format();
    </script>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>

    <meta name="description" content="“我开窍”平台为您提供与行业专家、顶级顾问、学术权威直接对话的难得机会，让您安坐家中就能与经验证的成功专业人士通过电话会议商讨企业计划书、获得战略性建议、进行市场调研、学习专业技能、解决学术上的烦恼。" />

    <meta name="default-title" content="我开窍 &mdash; 快来“窍”一下！">
    <meta property="og:title" content="我开窍 &mdash; 快来“窍”一下！"/>
    <meta property="og:description" content="“我开窍”平台为您提供与行业专家、顶级顾问、学术权威直接对话的难得机会，让您安坐家中就能与经验证的成功专业人士通过电话会议商讨企业计划书、获得战略性建议、进行市场调研、学习专业技能、解决学术上的烦恼。" />
    <meta property="og:image" content="https://s3-us-west-2.amazonaws.com/wokaiqiao/jackma.jpg" />
    <meta property="og:site_name" content="我开窍" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.wokaiqiao.com" />
    <meta name="baidu-site-verification" content="zfB9Jy0A4u" />
    <%= render "layouts/baidu_analytics" %>
  </head>

  <body>

    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
          <%= render "layouts/off_canvas_content" %>
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
          <%= render "layouts/top_nav" %>
          <%= render "layouts/alerts_and_notifications" %>
          <%= yield %>
          <%= render "layouts/footer" %>
        </div>
      </div>
    </div>

  </body>
</html>
