<div class="stripe-holder" data-signed-in="<%= user_signed_in? %>">
  <script src="https://checkout.stripe.com/checkout.js"></script>

  <button id="customButton" class="button">支付以订时间</button>
</div>


<script>
  var handler = StripeCheckout.configure({
    key: "<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>",
    image: 'https://s3-us-west-2.amazonaws.com/wokaiqiao/general/square-logo.png',
    locale: 'auto',
    token: function(token) {
      var callForm = $(".new_call")
      var isUserSignedIn = $(".book-expert-holder").data("user-signed-in")

      if (!isUserSignedIn) {
        var name = $("#user_name").val()
        var email = $("#user_email").val()
        var password = $("#user_password").val()

        var nameInput = $("<input>")
                       .attr("type", "hidden")
                       .attr("name", "user_name").val(name);

        var emailInput = $("<input>")
                         .attr("type", "hidden")
                         .attr("name", "user_email").val(email);

        var passwordInput = $("<input>")
                           .attr("type", "hidden")
                           .attr("name", "user_password").val(password);

        callForm.append($(nameInput));
        callForm.append($(emailInput));
        callForm.append($(passwordInput));
      }

      var stripeTokenInput = $("<input>")
                             .attr("type", "hidden")
                             .attr("name", "stripe_token").val(token.id);

      callForm.append($(stripeTokenInput));
      callForm.submit()
    }
  });

  $('#customButton').on('click', function(e) {
    e.preventDefault();

    if (validateSignUp()) {
      var email = "<%= current_user.email if user_signed_in? %>"
      if (email == "") {
        email = $("#user_email").val()
      }

      var estimatedDurationInMin = $("#call_est_duration_in_min").val()
      var amount = $("#call_est_duration_in_min").val()
      var ratePerMin = parseInt("<%= expert.rate_per_minute %>")

      // Open Checkout with further options
      handler.open({
        name: '我开窍',
        description: "<%= expert.name %>通话" + estimatedDurationInMin + "分钟",
        currency: "CNY",
        amount: estimatedDurationInMin * ratePerMin * 100,
        alipay: true,
        "alipay-reusable": true,
        email: email,
        locale: "zh"
      });
    }
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });

  function validateSignUp() {
    var signedIn = $(".stripe-holder").data("signed-in");

    if (signedIn) {
      return true
    }

    $(".error-box").addClass("hide")
    var passValidation = true

    var name = $("#user_name").val()
    var email = $("#user_email").val()
    var password = $("#user_password").val()

    if (name == "") {
      $(".name-error").removeClass("hide")
      passValidation = false
    }

    if (email == "") {
      $(".email-missing-error").removeClass("hide")
      passValidation = false
    } else if (!validateEmail(email)) {
      $(".not-proper-email-error").removeClass("hide")
      passValidation = false
    }

    if (password == "") {
      $(".password-missing-error").removeClass("hide")
      passValidation = false
    } else if (password.length < 8) {
      $(".password-length-error").removeClass("hide")
      passValidation = false
    }
    
    return passValidation
  }

  function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
  }
</script>